h1 {
    width: 80%;
    text-align: center;
    color: white;
    background-color: brown;
    border-radius: 8px;
    
    transition: 0.2s;
}

h1:hover {
    transform:translate(-2px, -2px);
    box-shadow: 2px 2px 0 #400f0f;
}
