p {
    font-family: Consolas;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    
    padding: 0 5px;
    border-radius: 4px;
    
    transition: 0.2s;
}

p:hover {
    
    background-color: #c6c6c6;
    
    font-weight: bold;
}
