body, section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 80%;
    text-align: center;
    color: white;
    background-color: brown;
    border-radius: 8px;
    
    transition: 0.2s;
}

h1:hover {
    transform:translate(-2px, -2px);
    box-shadow: 2px 2px 0 #400f0f;
}

img {
    border-radius: 8px;
}

img:hover {
    transition: 0.2s;
    box-shadow: 0 0 10px #0b0f1e;
}

p {
    font-family: Consolas;
    font-size: 1.2em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    
    padding: 0 5px;
    border-radius: 4px;
    
    transition: 0.2s;
}

p:hover {   
    background-color: #c6c6c6;
    font-weight: bold;
}

section {
    width: 90%;
    margin-bottom: 2em;
}

a {
    position: fixed;
    bottom: 50px;
    right: 20px;
    
    width: 100px;
    padding: 5px;
    border-radius: 8px;
    
    text-decoration: none;
    color: white;
    text-align: left;
    background-color: #e26161;
    
    transition: 0.2s;
}

a:hover {
    background-color: #fb3828;
    text-decoration: underline;
}

